@font-face {
  font-display: swap;
  font-family: "Figtree";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/figtree-v5-latin-500.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Figtree";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/figtree-v5-latin-800.woff2") format("woff2");
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  object-fit: cover;
  display: flex;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul,
ol {
  list-style: none;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: "Figtree", sans-serif;
  font-weight: 800;
  font-size: 14px;
  line-height: 21px;
  background-color: #f4d04e;
  color: #111111;
}

main {
  flex-grow: 1;
}

h1 {
  margin: 0;
}

.blog {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  gap: 24px;
  border-radius: 20px;
  border: 1px solid #111111;
  box-shadow: 8px 8px 0px 0px #000000;
}

.blog__content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.blog__content_category {
  width: 82px;
  padding: 4px 12px;
  background-color: #f4d04e;
  border-radius: 4px;
}

.blog__content_data {
  font-weight: 500;
}

.blog__content_title {
  font-size: 24px;
  line-height: 36px;
}

.blog__content_link {
  color: #111111;

  &:hover {
    color: #f4d04e;
  }

  &:active {
    opacity: 60%;
  }
}

.blog__content_description {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f7f7f;
  width: 336px;
}

.blog__founder {
  display: flex;
  gap: 12px;
  margin-right: 195px;
}

.blog__founder_img {
  border-radius: 50%;
  display: flex;
}

.blog__founfer_name {
  margin-top: 5.5px;
  margin-bottom: 5.5px;
}

@media (max-width: 327px) {
  .blog__img {
    width: 100%;
  }
}
